# Configuration file

dungeons {
    # Min: 5
    # Max: 2147483647
    I:maxDungeonDepth=50
}


general {
    I:baseDimensionID=684
    B:closeDoorBehind=true
    I:depthSpreadFactor=20
    B:riftBoundingBoxInCreative=false

    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:riftCloseSpeed=1.0

    # Min: 0.0
    # Max: 3.0
    D:teleportOffset=0.5
    B:useEnderPearlsInCrafting=true
    B:useStatusBar=true
}


graphics {
    # Min: -1
    # Max: 2147483647
    I:highlightRiftCoreFor=15000

    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:riftJitter=1.0

    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:riftSize=1.0
    B:showRiftCore=false
}


limbo {
    # Whether a player dying in limbo should respawn in limbo, making eternal fluid or gold dimensional doors
    # the only way to get out
    B:hardcoreLimbo=true

    # Sets whether players are teleported to Limbo when they die in any dimension (except Limbo).
    # Normally, players only go to Limbo if they die in a pocket dimension. This setting will not
    # affect deaths in Limbo, which can be set with the Hardcore Limbo option.
    B:universalLimbo=false
}


monoliths {
    # Are Monoliths in Limbo Dangerous?
    B:dangerousLimboMonoliths=false

    # Is Monolith Teleportation enabled?
    B:monolithTeleportation=true
}


pockets {
    I:cachedSchematics=10

    # Forces all available pocket schematics to load on game-start even if the configured maximum sizes mean that these
    # schematics will never be placed in any naturally generated pockets. This is meant for testing purposes,
    # because the /pocket command can be used to force generate these pockets.
    B:loadAllSchematics=false

    # Sets how large a pocket can be.
    # Min: 0
    # Max: 2147483647
    I:maxPocketSize=15

    # Sets how many chunks apart all pockets in pocket dimensions should be placed.
    # Min: 4
    # Max: 2147483647
    I:pocketGridSize=32

    # Sets how large a personal pocket is when initially created.
    # Min: 0
    # Max: 7
    I:privatePocketSize=2

    # Sets how deep a public pocket created in the overworld will be on average.
    # Pockets created at a deeper depth will have larger sizes.
    # Min: 0
    # Max: 2147483647
    I:publicPocketSize=1
}


world {
    # Dimension Type Blacklist for the generation of Rift Clusters. Add a dimension ID here to prevent
    # generation in these dimensions.
    I:clusterDimBlacklist <
        -1
        0
        1
        7
     >

    # Sets the chance (out of 1.0) that a Rift Gateway will generate in a given chunk.
    # Min: 0.0
    # Max: 1.0
    D:clusterGenChance=2.0E-4

    # Dimension Blacklist for the generation of Dimensional Gateways. Add a dimension ID here to prevent
    # generation in these dimensions.
    I:gatewayDimBlacklist <
     >

    # Sets the chance (out of 1.0) that a cluster of rifts will generate in a given chunk.
    # Min: 0.0
    # Max: 1.0
    D:gatewayGenChance=0
}


